/*universal selector */
* {
    margin: 0%;
}
/* Apply grid to the body */
body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #333;
    color: white;
    text-align: left;
   
}

/* Navigation bar using Flexbox */
nav {
    margin-top: 1rem;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Grid container for main content */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    flex-grow: 1;
}

/* Main content area */
main {
    background-color: lightgray;
    padding: 20px;
    flex-grow: 1;
}

/* Sidebar */
aside {
    background-color: white;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 100;
}