/* Larger screens */
@media only screen and  (min-width: 40em) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .navigation {
        /* flex-direction: row;
        justify-content: center; */
        display: flex;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
    .navigation a {
		text-align: center;
    }
    #menu {
        display: none;
    }
    
}